In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import os
from pathlib import Path
import gc

project_dir = Path("notebook.ipynb").resolve().parents[0]

In [3]:
for file in os.listdir(f'{project_dir}/melted_data/'):
    print(file)

taxa_aprovacao_ensino_medio_value.csv
populacao_total_value.csv
total_concluintes_ensino_superior_value.csv
energia_total_value.csv
taxa_analfabetismo_maiores_quinze_anos_value.csv
total_concluintes_ensino_medio_value.csv
taxa_abandono_ensino_medio_value.csv
energia_total_consumidores_value.csv
taxa_reprovacao_ensino_medio_value.csv
taxa_abandono_ensino_fundamental_value.csv
total_concluintes_ensino_fundamental_value.csv
arrecadao_estadual_total_value.csv
taxa_reprovacao_ensino_fundamental_value.csv
estimativa_total_populacao_value.csv
pib_total_value.csv
arrecadacao_tributos_federais_value.csv
total_acesso_internet_value.csv
taxa_aprovacao_ensino_fundamental_value.csv

In [12]:
total=0
initial_data = pd.read_csv('data/pib_per_capita_2010_2018.csv', sep=';',decimal=',', skiprows=5, encoding='latin-1')
initial_data = initial_data.drop(columns=['latitude','longitude'])

for column in initial_data.columns[2:]:
    column_name = re.sub(r'\D*','',column)
    initial_data = initial_data.rename(columns={column:f'{column_name}'})

var_name = re.findall(r'^[A-Za-z_]*','pib_per_capita_2010_2018.csv')[0][:-1]
melted_data = initial_data.melt(id_vars=['Município','ibge'], var_name=f'ano', value_name=f'{var_name}_value')
print(f'Tamanho inicial: {melted_data.shape}')
for file in os.listdir(f'{project_dir}/data/'):
    if file == ('pib_per_capita_2010_2018.csv'):
        continue
    elif file == 'TarifaMediaFornecimento.csv':
        continue
    else:
        data= pd.read_csv(f'{project_dir}/data/{file}',sep=';',decimal=',', skiprows=5, encoding='latin-1')
        data= data.drop(columns=['latitude','longitude'])
        var_name = re.findall(r'^[A-Za-z_]*',file)[0][:-1]

        for column in data.columns[2:]:
            column_name = re.sub(r'\D*','',column)
            data = data.rename(columns={column:f'{column_name}'})
        
        data_melted = data.melt(id_vars=['Município','ibge'], var_name=f'ano', value_name=f'{var_name}_value')
        data_melted = data_melted[f'{var_name}_value']
        data_melted.to_csv(f'{project_dir}/melted_data/{var_name}_value.csv', sep=';', decimal=',', encoding='latin-1', index=False)
    total+= 1
li = []
for file in os.listdir(f'{project_dir}/melted_data/'):
    df= pd.read_csv(f'{project_dir}/melted_data/{file}', decimal=',',sep=';', encoding='latin-1')
    li.append(df)

frame= pd.concat(li,axis=1, ignore_index=False)
final_dataset = pd.concat([melted_data, frame], axis=1, ignore_index=False)
final_dataset.to_csv(f'{project_dir}/final_dataset.csv', sep=';',decimal=',', encoding='latin-1')
print(f'Tamanho final: {final_dataset.shape}')

Tamanho inicial: (4473, 4)
Tamanho final: (4473, 22)

In [8]:
li = []
for file in os.listdir(f'{project_dir}/melted_data/'):
    df= pd.read_csv(f'{project_dir}/melted_data/{file}', decimal=',',sep=';', encoding='latin-1')
    li.append(df)

frame= pd.concat(li,axis=1, ignore_index=False)
final_dataset = pd.concat([melted_data, frame], axis=1, ignore_index=False)
final_dataset

In [10]:
final_dataset = pd.concat([melted_data, frame], axis=1, ignore_index=False)
final_dataset

,Município,ibge,ano,pib_per_capita_value,taxa_aprovacao_ensino_medio_value,populacao_total_value,total_concluintes_ensino_superior_value,energia_total_value,taxa_analfabetismo_maiores_quinze_anos_value,total_concluintes_ensino_medio_value,...,taxa_reprovacao_ensino_medio_value,taxa_abandono_ensino_fundamental_value,total_concluintes_ensino_fundamental_value,arrecadao_estadual_total_value,taxa_reprovacao_ensino_fundamental_value,estimativa_total_populacao_value,pib_total_value,arrecadacao_tributos_federais_value,total_acesso_internet_value,taxa_aprovacao_ensino_fundamental_value
0,Aceguá,4300034,2010,"23776,87","73,1",4394.0,351,2375,6.40,36,...,"19,4","0,4",55,1642593,"14,5",4540,"104475,56",3490209,675,"85,1"
1,Água Santa,4300059,2010,"26985,47",89,3722.0,29,55861,5.39,50,...,"7,4","0,4",55,670239,"6,8",4093,"100547,86",2679028,137,"92,8"
2,Agudo,4300109,2010,"14649,46","76,9",16722.0,623,4996,6.78,119,...,"13,4","1,3",175,13674724,"16,8",16760,"245070,81",23870975,2731,"81,9"
3,Ajuricaba,4300208,2010,"18307,8","86,3",7255.0,738,3170,5.14,53,...,5,"0,3",96,2107984,"6,2",7584,"132823,1",6478374,836,"93,5"
4,Alecrim,4300307,2010,"8293,73","77,4",7045.0,63,182283,7.83,65,...,"19,5","0,8",93,726363,"16,4",6301,"58429,3",1393096,354,"82,8"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4468,Vista Alegre do Prata,4323606,2018,34542.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,561611,11.5,1648,54059.19,NaN,2822,88.5
4469,Vista Gaúcha,4323705,2018,23348.1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,1695927,0.9,2885,66472.05,NaN,1071,99.1
4470,Vitória das Missões,4323754,2018,31116.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.7,NaN,954412,13.1,3389,98858.53,NaN,3541,84.2
4471,Westfalia,4323770,2018,55984.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,9175168,4.5,3136,167840.96,NaN,8382,95.5
4472,Xangri-lá,4323804,2018,31202.9,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.4,NaN,9641489,15.0,15858,500026.91,NaN,24272,82.6

In [9]:
frame

,taxa_aprovacao_ensino_medio_value,populacao_total_value,total_concluintes_ensino_superior_value,energia_total_value,taxa_analfabetismo_maiores_quinze_anos_value,total_concluintes_ensino_medio_value,taxa_abandono_ensino_medio_value,energia_total_consumidores_value,taxa_reprovacao_ensino_medio_value,taxa_abandono_ensino_fundamental_value,total_concluintes_ensino_fundamental_value,arrecadao_estadual_total_value,taxa_reprovacao_ensino_fundamental_value,estimativa_total_populacao_value,pib_total_value,arrecadacao_tributos_federais_value,total_acesso_internet_value,taxa_aprovacao_ensino_fundamental_value
0,"73,1",4394.0,351,2375,6.40,36,"7,5",624,"19,4","0,4",55,1642593,"14,5",4540,"104475,56",3490209,675,"85,1"
1,89,3722.0,29,55861,5.39,50,"3,6",5922,"7,4","0,4",55,670239,"6,8",4093,"100547,86",2679028,137,"92,8"
2,"76,9",16722.0,623,4996,6.78,119,"9,7",1647,"13,4","1,3",175,13674724,"16,8",16760,"245070,81",23870975,2731,"81,9"
3,"86,3",7255.0,738,3170,5.14,53,"8,7",1363,5,"0,3",96,2107984,"6,2",7584,"132823,1",6478374,836,"93,5"
4,"77,4",7045.0,63,182283,7.83,65,"3,1",28949,"19,5","0,8",93,726363,"16,4",6301,"58429,3",1393096,354,"82,8"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4468,NaN,NaN,NaN,NaN,NaN,NaN,"1,8",NaN,NaN,0.0,NaN,561611,11.5,1648,54059.19,NaN,2822,88.5
4469,NaN,NaN,NaN,NaN,NaN,NaN,"3,8",NaN,NaN,0.0,NaN,1695927,0.9,2885,66472.05,NaN,1071,99.1
4470,NaN,NaN,NaN,NaN,NaN,NaN,"33,8",NaN,NaN,2.7,NaN,954412,13.1,3389,98858.53,NaN,3541,84.2
4471,NaN,NaN,NaN,NaN,NaN,NaN,"2,9",NaN,NaN,0.0,NaN,9175168,4.5,3136,167840.96,NaN,8382,95.5
4472,NaN,NaN,NaN,NaN,NaN,NaN,"2,2",NaN,NaN,2.4,NaN,9641489,15.0,15858,500026.91,NaN,24272,82.6

In [2]:
files_list = ['energia_total_consumidores_2010_2018.csv',
 'pib_total_2010_2018.csv',
 'energia_total_2010_2018.csv']

In [14]:
data_1 = pd.read_csv('data/pib_per_capita_2010_2018.csv', sep=';',decimal=',', skiprows=5, encoding='latin-1')
data_2 = pd.read_csv('data/pib_total_2010_2018.csv', sep=';',decimal=',', skiprows=5, encoding='latin-1')
data_1 = data_1.drop(columns=['latitude','longitude'])
data_2 = data_2.drop(columns=['latitude','longitude'])

for column in data_1.columns[2:]:
    column_name = re.sub(r'\D*','',column)
    data_1 = data_1.rename(columns={column:f'{column_name}'})

for column in data_2.columns[2:]:
    column_name = re.sub(r'\D*','',column)
    data_2 = data_2.rename(columns={column:f'{column_name}'})

var_name_1 = re.findall(r'^[A-Za-z_]*','pib_per_capita_2010_2018.csv')[0][:-1]
melted_data_1 = data_1.melt(id_vars=['Município','ibge'], var_name=f'ano_{var_name_1}', value_name=f'{var_name_1}_value')
print(melted_data_1.head())

var_name_2 = re.findall(r'^[A-Za-z_]*','pib_total_2010_2018.csv')[0][:-1]
melted_data_2 = data_2.melt(id_vars=['Município','ibge'], var_name=f'ano_{var_name_2}', value_name=f'{var_name_2}_value')
print(melted_data_2.head())

    Município     ibge ano_pib_per_capita pib_per_capita_value
0      Aceguá  4300034               2010             23776,87
1  Água Santa  4300059               2010             26985,47
2       Agudo  4300109               2010             14649,46
3   Ajuricaba  4300208               2010              18307,8
4     Alecrim  4300307               2010              8293,73
    Município     ibge ano_pib_total pib_total_value
0      Aceguá  4300034          2010       104475,56
1  Água Santa  4300059          2010       100547,86
2       Agudo  4300109          2010       245070,81
3   Ajuricaba  4300208          2010        132823,1
4     Alecrim  4300307          2010         58429,3

In [39]:
data_concat = pd.concat([melted_data_1,melted_data_2.iloc[:,-1:]], axis=1, ignore_index=False, join='inner')
data_concat

,Município,ibge,ano_pib_per_capita,pib_per_capita_value,pib_total_value
0,Aceguá,4300034,2010,"23776,87","104475,56"
1,Água Santa,4300059,2010,"26985,47","100547,86"
2,Agudo,4300109,2010,"14649,46","245070,81"
3,Ajuricaba,4300208,2010,"18307,8","132823,1"
4,Alecrim,4300307,2010,"8293,73","58429,3"
...,...,...,...,...,...
4468,Vista Alegre do Prata,4323606,2018,34542.6,54059.2
4469,Vista Gaúcha,4323705,2018,23348.1,66472.1
4470,Vitória das Missões,4323754,2018,31116.9,98858.5
4471,Westfalia,4323770,2018,55984.3,167841
4472,Xangri-lá,4323804,2018,31202.9,500027

In [34]:
melted_data_2.iloc[:,-2:]

     ano_pib_total pib_total_value
0             2010       104475,56
1             2010       100547,86
2             2010       245070,81
3             2010        132823,1
4             2010         58429,3
...            ...             ...
4468          2018         54059.2
4469          2018         66472.1
4470          2018         98858.5
4471          2018          167841
4472          2018          500027

[4473 rows x 2 columns]